:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-trangparent-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f5f5;
  --button-backgraund-color: #f5f4fa;
  --button-bg-hero-color: #188ce8;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}
.page {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* background-color: rgb(118, 199, 115); */
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: flex;

  color: var(--accent-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--black-color);
  text-decoration: none;
}

/* Site nav */

.page-header .main-nav {
  display: flex;
  align-items: center;
  /* justify-content:; */
}
.section-nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* site-contact */

.site-contact {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  text-decoration: none;
}
.site-contact .item + .item {
  margin-left: 40px;
}
.site-contact .link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  display: flex;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

/* Секція hero */

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button.hero {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 4px;
  min-width: 200px;
  border: none;

  background-color: var(--button-bg-hero-color);
  color: var(--white-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button.hero:hover,
.button.hero:focus {
  background-color: var(--white-color);
  color: var(--title-text-color);
}
.page-hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-bg-color);
  text-align: center;
}

/* button section */
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(button-backgraund-color);
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.main-booton {
  padding-left: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.main-booton .item + .item {
  margin-left: 8px;
}
/* Особливості */
.section {
  /* background-color: rgb(183, 41, 196); */
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
.feature-list .item {
  width: 270px;
}
.feature-list .item + .item {
  margin-left: 30px;
}
.feature-list .title {
  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-list p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Чим займаєммось */
.section-nopadding {
  /* background-color: rgb(211, 194, 44); */
  padding-bottom: 94px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}
.work-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-evenly;
}
.work-list .item + .item {
  margin-left: 30px;
}

/* Наша команда */
.section-team {
  background: var(--section-bg-color);
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
}
/* .page-team .main-team{
  display: flex;
} */
.main-team {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
  padding-left: 0;
}
.team-list .item {
  width: 270px;
}
.team-list .item + .item {
  margin-left: 30px;
}

.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0;
  margin-bottom: 0;
}

.page-team-div {
  background: var(--white-color);
  text-align: center;

  padding-top: 30px;
  padding-bottom: 30px;
}
/* Наші роботи */
.product-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.product-list .item {
  width: 370;
  margin-left: 30px;
  margin-bottom: 30px;
}

.border-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product-list .title {
  margin-bottom: 4px;
  margin-top: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-list .text {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;

  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
}

/* footer */
.logo.footer {
  margin-bottom: 28px;
}
.logo-accent.footer {
  color: var(--white-color);
  text-decoration: none;
}

.site-address .link {
  color: var(--white-color);
  font-style: normal;
  text-decoration: none;
}
/* .site-address {

} */
/* .site-address .item{
  margin-bottom: 28px;
} */
.site-address .item + .item {
  margin-top: 12px;
}
.main-address {
  padding-left: 0;
}

.site-address .contact {
  color: var(--white-trangparent-color);
  font-style: normal;
  text-decoration: none;
}
.site-address:hover,
.site-address:focus {
  color: var(--accent-color);
}

.page-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* text-decoration: none; Убираем подчёркивание */

/* Колір тексту #212121 */
/* Колір основного тексту #757575 */
/* Білий колір #FFFFFF  */
/* Акцент #2196F3 */
/* Чорний колір #000000 */
/* Білий прозорий rgba(255, 255, 255, 0.6) */
/* Колір фону #F5F5F5 */
/* Колір background кнопок #F5F4FA */
/* Другорядний колір фону  #F5F4FA */
